.forgot-app-container {
  background-color: #354B3F;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel,
.login-container {
  background: transparent; 
  box-shadow: none;        
}

.forgot-container {
  background-color: #ffffff;      
  width: 45rem;
  height: 30rem;
  border-radius: 22px;            
  border: 2px solid #AF7928;       
  padding-top: 4rem;               
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forgot-header h2 {
  color: #354B3F;                 
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

.forgot-header p {
  color: #0000007e;
  font-size: 0.85rem;
  margin-bottom: 2rem;
  text-align: center;
}

.forgot-form-input {
  width: 100%;
  background-color: white;
  padding: 0.8rem 3rem 0.8rem 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  color: #1a1a1a;
}

.forgot-form-input:focus {
  border-color: #354B3F;
}

.forgot-form-input::placeholder {
  color: #999;
}

.forgot-button {
  width: 37rem;
  height: 2.9rem;
  background-color: #AF7928;      
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-button:active,
.forgot-button:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 3px rgba(175, 121, 40, 0.5);
}

.forgot-button:hover {
  background-color: #8d6020; 
}

.lock-icon {
  display: block;           
  font-size: 3rem;        
  color: #AF7928;
  text-align: center;
}

.back-button {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #354B3F;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.back-button i {
  margin-right: 8px;
  margin-left: 2rem;
  color: #354B3F;
}

.back-button:hover {
  color: #AF7928;
}

.back-button:hover i {
  color: #AF7928;
}

.back-button-fixed {
  position: absolute;
  top: 32px;
  left: 32px;
  z-index: 10;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: #FFC46B;
  cursor: pointer;
  background: none;
  border: none;
}

.back-button-fixed i {
  margin-right: 8px;
  color: #FFC46B;
}

.back-button-fixed:hover {
  color: #7a541b;
}

.back-button-fixed:hover i {
  color: #7a541b;
}

